.login>img{
object-fit: contain;
height: 300px;
}
.login
{
    display:grid;
    place-items: center;
    margin:0 auto;
    /* padding-top: 100px; */
    padding-bottom:100px
   
}

.login>form {
    display:flex;
    flex-direction: column;
    margin-top: -70px;
}

.login>form>input
{
    width:350px;
    height:50px;
    margin-bottom: 10px;
    font-size: 20px;
    padding-left: 10px;
    border-radius: 5px;
}

.login>form>input:hover
{
    cursor: pointer;
    background-image:linear-gradient(to right,rgb(159, 200, 247),rgb(100, 168, 245),rgb(15, 141, 209),rgb(0, 116, 179),rgb(6, 90, 136));
}

.login>form>input:focus
{
    cursor:text;
}

.login>form>button
{
    height:50px;
    width:365px;
    /* padding:10px; */
    font-size: large;
    color:#fff;
    border-radius: 5px;
    background-color: #0074b1;
    
    margin-bottom: 15px;
}

.login>form>button:hover
{
    cursor: pointer;
    /* background-image:linear-gradient(to right,rgb(100, 168, 245),rgb(15, 141, 209),rgb(0, 116, 179),rgb(6, 90, 136)); */
}
.login>p
{
    display:flex;
}
.login_register
{
    margin-left: 5px;
    cursor:pointer;
    color: #0177b7;
}